<section class="links">
	<div class="links__container container">
		<div class="links__body">
			<div class="links__title title">
				<h2>Залишились питання?</h2>
			</div>
			<div class="links__row">
				<div class="links__column">
					<div class="links__item">
						<a href="#" target="_blank" class="links__link links__link_black"><span>Все про постачання газу</span></a>
					</div>
					<div class="links__item">
						<a href="#" target="_blank" class="links__link links__link_yellow"><span>Все про постачання електроенергії</span></a>
					</div>
				</div>
				<div class="links__column">
					<div class="links__item">
						<a href="#" target="_blank" class="links__link links__link_white"><span>Часті запитання</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>