<div class="popup popup_order">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__wrapper">
				<h3 class="popup__title">Швидке замволення “Назва товару”</h3>
				<div class="popup__text">Залиште ваші контактні данні, після цього ми вам зателефонуємо і підтвердимо ваше замовлення”</div>
				<form id="form-popup" class="popup__form form-popup">
					<div class="form-popup__row">
						<div class="form-popup__img">
							<img src="img/product/product-1.jpg" alt="Товар">
						</div>
						<div class="form-popup__item">
							<div class="form-popup__label-text">Назва товару</div>
							<div class="form-popup__value">Фасовка:<span>0.5л</span></div>
						</div>
						<div class="form-popup__price">1354 грн</div>
					</div>
					<div class="form-popup__line">
						<input id="popup-text" class="form-popup__input input" type="text" name="Ім’я" placeholder="Ім’я">
						<label for="popup-text" class="form-popup__label" for="text">Це поле обов’язкове до заповнення</label>
					</div>
					<div class="form-popup__line">
						<input id="popup-tel" class="form-popup__input input" type="tel" name="Номер телефону" placeholder="Номер телефону">
						<label for="popup-tel" class="form-popup__label" for="text">Це поле обов’язкове до заповнення</label>
					</div>
					<button form="form-popup" type="submit" class="form-popup__btn btn">Оформити замовлення</button>
				</form>
			</div>
			<div class="popup__successfull successfull-popup">
				<div class="successfull-popup__img">
					<img src="img/categori/succesfull.svg" alt="Забраження успішного відправлення">
				</div>
				<div class="successfull-popup__text">Ви успішно заповнили форму! Ми зв’яжемося з вами найближчим часом</div>
				<a href="#" class="successfull-popup__btn btn">Переглянути інші товари</a>
			</div>
			<div class="popup__close">
				<img src="img/icons/close.svg" alt="Закрити">
			</div>
		</div>
	</div>
</div>