.form {

	&__row {
		display: flex;
		align-items: center;

		@media (max-width:($md4+px)) {
			display: block;
		}
	}

	&__input {}

	&__label {

		&_color {}
	}

	&__button {
		margin: 0px 0px 0px 2px;

		@media (max-width:($md4+px)) {
			margin: 2px 0px 0px auto
		}
	}
}