//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.shadow {
	padding: 3px;
	background-color: transparent;
	flex: 1 1 auto;
}

.input {
	width: 100%;
	display: block;
	padding: 12px 13px 12px 13px;
	background-color: #F0F2F8;
	border: 1px solid #D3DAE9;
	border-radius: 11px;
	outline: none;
	color: $black;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
	margin: 0px 30px 0px 0px;

	@media (any-hover:hover) {
		&:hover {
			border-color: #F5365C;
		}
	}

	&:focus {
		-webkit-box-shadow: 0px 0px 0px 3px rgba(252, 180, 87, 0.3);
		-moz-box-shadow: 0px 0px 0px 3px rgba(252, 180, 87, 0.3);
		box-shadow: 0px 0px 0px 3px rgba(252, 180, 87, 0.3);
		border-color: rgba(252, 180, 87, 1);

		@media (any-hover:hover) {
			&:hover {
				border-color: rgba(252, 180, 87, 1);
			}
		}

		&~.form__label {
			display: block;
		}

		&~.form-popup__label {
			display: block;
		}
	}

	@media (any-hover:hover) {
		&:hover {
			border-color: #0E283D;
		}
	}

	&::placeholder {
		font-size: 16px;
		color: #A9B0C3;
		transition: color 0.3s ease-out 0s;
	}

	&.form-error {
		border-color: rgba(245, 54, 92, 0.66);

		@media (any-hover:hover) {
			&:hover {
				&::placeholder {
					color: rgba(245, 54, 92, 0.66);
				}
			}
		}

		&:focus {
			-webkit-box-shadow: 0px 0px 0px 3px rgba(245, 54, 92, 0.22);
			-moz-box-shadow: 0px 0px 0px 3px rgba(245, 54, 92, 0.22);
			box-shadow: 0px 0px 0px 3px rgba(245, 54, 92, 0.22);

			&::placeholder {
				color: rgba(245, 54, 92, 0.66);
			}
		}

		&::placeholder {
			color: #F5365C;
		}
	}
}

textarea.input {
	resize: none;
	height: 132px;
}

//</INPUT>====================================================================================================