//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.shadow {
	padding: 3px;
	flex: 1 1 auto;
	background-color: transparent;
	border-radius: 14px;
	transition: background-color 0.3s ease-out 0s;

	@media (any-hover:hover) {
		&:hover {
			background-color: rgba(252, 180, 87, 0.3);
		}
	}
}

.input {
	width: 100%;
	display: block;
	padding: 12px 13px 12px 13px;
	background: #F0F2F8;
	border: 1px solid #D3DAE9;
	border-radius: 11px;
	outline: none;
	color: $black;
	cursor: pointer;

	@media (any-hover:hover) {
		&:hover {
			border: 1px solid #FCB457;
		}
	}

	&:focus {
		border-color: green;

		&~.form__label {
			display: block;
		}

		&~.form-popup__label {
			display: block;
		}
	}

	&::placeholder {
		font-weight: 500;
		font-size: 16px;
		line-height: 114%;
		color: gray;
	}

	&.error {
		border-color: #FF2116;
		color: #FF2116;

		&:focus {
			&~.form__label {
				display: none;
			}

			&~.form-popup__label {
				display: none;
			}
		}

		&::placeholder {
			color: #FF2116;
		}
	}
}

textarea.input {
	resize: none;
	padding: 15px;
	height: 145px;
}

//</INPUT>====================================================================================================