@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "SFProDisplay";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: 1277.98;
$md2: 990.98;
$md3: 767.98;
$md4: 567.98;


$black: #0E283D;

$gray-00: #8690A8;
$gray-01: #64708B;
$gray-light-00: #F8FAFF;
$gray-light-01: #F0F2F8;
$gray-light-02: #EBEFF8;
$gray-light-03: #E6EBF8;
$gray-sep: #D3DAE9;

$white-100: #FFFFFF;
$yellow: #FCB457;
$red: #F9928F;
$blue-02: #8AC1EA;

$text-link: #197FCC;
$blue: #ACD8F9;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $black;
	background-color: $white-100;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: ($maxWidthContainer + px);
	margin: 0 auto;

	@media (max-width: ($md1 + px)) {
		padding: 0 50px;
	}

	@media (max-width: ($md3+px)) {
		padding: 0 30px;
	}

	@media (max-width: ($md4+px)) {
		padding: 0 15px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/header";
@import "./components/footer";
@import "./pages/home";
@import "./pages/electricyti";
@import "./pages/about";
@import "./pages/ecology";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//====================Шаблоны кода===============================================================================================================
%pad-100 {
	padding: 100px 0;

	@media (max-width:($md2+px)) {
		padding: 80px 0;
	}
}

%hover {
	content: '';
	width: 100%;
	position: absolute;
	height: 101%;
	left: -100%;
	top: 0;
	transition: left 0.4s linear 0s;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================