<div style="margin: 20px auto; width: 1200px;" class="buttons">
	<div style="margin: 20px 0;">
		<a href="#" target="_blank" class="btn icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min">Адреси офісів</a>
	</div>
	<div style="margin: 20px 0;">
		<a href="#" target="_blank" class="btn btn_gray-l icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn btn_gray-l">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_gray-l icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_gray-l">Адреси офісів</a>
	</div>
	<div style="margin: 20px 0;">
		<a href="#" target="_blank" class="btn btn_yellow icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn btn_yellow">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_yellow icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_yellow">Адреси офісів</a>
	</div>
	<div style="margin: 20px 0;">
		<a href="#" target="_blank" class="btn btn_blue icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn btn_blue">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_blue icon-download">Адреси офісів</a>
		<a href="#" target="_blank" class="btn-min btn-min_blue">Адреси офісів</a>
	</div>

</div>