<footer class="footer">
	<div class="footer__container container">
		<div class="footer__body">
			<div class="footer__left">
				<div class="footer__logo"><a href="#" target="_blank"><img src="img/footer/logo.svg" alt="Логотип"></a></div>
				<div class="footer__row">
					<div class="footer__label">Долучайтесь у соцмережах</div>
					<div class="footer__links">
						<a href="#" target="_blank" class="icon-facebook"></a>
						<a href="#" target="_blank" class="icon-telegram"></a>
						<a href="#" target="_blank" class="icon-instagram"></a>
						<a href="#" target="_blank" class="icon-youtube"></a>
					</div>
				</div>
			</div>
			<div class="footer__right">
				<ul class="footer__list">
					<li class="footer__item">
						<span class="footer__span">Електоенергія</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Все про Електроенергію</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Договори</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Тарифи</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Врегулювання спорів</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Нормативна база</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Про вплив на довкілля</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">Природний газ</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Все про Газ</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Договори</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Тарифи</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Врегулювання спорів</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Нормативна база</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Про вплив на довкілля</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">Про компанію</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Про компанію</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Інформаційно-консультативний центр</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Антикорупційна програма</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Наші партнери</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Контакти</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">Споживачу</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Часті запитання</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Інформаційно-консультативний центр</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Особистий кабінет</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Новини</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Контакти</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__container container">
			<div class="footer__line">
				<div class="footer__text">U.COMMODITIES Copyrirht © 2022</div>
				<div class="footer__text">Created by <span class="icon-owl"></span></div>
			</div>
		</div>
	</div>
</footer>