<div class="popup popup_success active">
	<div class="popup__content">
		<div class="popup__body">
			<div class="success-body">
				<div class="success-body__icon icon-check"></div>
				<div class="success-body__title">Текст одобрения отправленной формы</div>
				<div class="success-body__text">Описание условий при которотых свяжутся, обработают форму, перезвонят или выполнят любое другое дейсвтие ради которого была отправлена фоформа.</div>
				<div class="success-body__line">
					<a href="#" target="_blank" class="btn-min btn-min_gray-l">Зрозуміло!</a>
				</div>
			</div>
			<div class="success-body__close icon-cloze"></div>
		</div>
	</div>
</div>