.cta {
	@extend %pad-100;

	&__container {
		max-width: 700px;

		@media (max-width:($md1+px)) {
			max-width: 1200px;
		}
	}

	&__body {
		text-align: center;
	}

	&__title {}

	&__text {
		font-size: 18px;
		line-height: 120%;
		padding: 0px 0px 10px 0px;
	}

	&__line {
		padding: 10px 0px 0px 0px;
		display: flex;
		justify-content: center;
	}

	&__link {
		width: auto;
	}
}