.numbers {
	@extend %pad-100;

	@media (max-width:($md2+px)) {
		padding: 80px 0px 0px 0px;
	}

	&__container {}

	&__body {}

	&__title {}

	&__items {

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px;

		@media (max-width:($md1+px)) {
			gap: 30px;
		}

		&_grid-s {
			grid-template-columns: repeat(4, 1fr);
			gap: 20px 30px;
		}

		@media (max-width:($md2+px)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width:($md3+px)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {}

	&__line {
		margin: 20px 0px 0px;
		text-align: right;
	}

	&__line-left {
		margin: 20px 0px 0px;
		text-align: left;
	}

	&__link {
		@media (max-width:($md4+px)) {
			width: auto;
		}

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
}