.table {
	background-color: $gray-light-00;
	padding: 50px 0;

	&__container {}

	&__body {}

	&__head {}
}

.table-ecology {
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	caption {
		text-align: left;
		color: $gray-01;
		line-height: 125%;
		margin: 0px 0px 10px 0px;
	}

	tr {
		&:nth-child(even) {
			background-color: $white-100;
		}

		border-bottom:1px solid $gray-sep;

		@media (max-width:($md3+px)) {
			display: block;
			width: 100%;
		}

		@media (max-width:($md4+px)) {
			padding: 10px;
		}
	}

	th {
		font-weight: 400;
		font-size: 16px;
		line-height: 110%;
		color: $black;
		padding: 10px;
		width: 33.333%;

		&:not(:last-child) {
			padding-right: 30px;
		}

		&:not(:first-child) {
			padding-left: 0px;
		}
	}

	td {
		padding: 10px;
		line-height: 125%;
		color: $gray-01;
		width: 33.333%;

		&:not(:last-child) {
			padding-right: 30px;
		}

		&:not(:first-child) {
			padding-left: 0px;
		}

		@media (max-width:($md3+px)) {
			display: flex;
			width: 100%;

			&::before {
				content: attr(aria-label);
				color: $black;
				flex: 0 0 calc(50% - 15px);
				margin: 0px 15px 0px 0px;
				display: block;
			}

			&:not(:last-child) {
				padding-right: 10px;
			}

			&:not(:first-child) {
				padding-left: 10px;
			}
		}

		@media (max-width:($md4+px)) {
			display: block;
			padding: 0;

			&::before {
				margin: 2px 0px 0px 0px;
			}

			&:not(:last-child) {
				padding-right: 0px;
			}

			&:not(:first-child) {
				padding-left: 0px;
			}

			&:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}

		}
	}

	tr {
		&:last-child {
			td {
				color: $black;

				@media (max-width:($md3+px)) {
					color: $gray-01;

					&:first-child {
						color: $black;

						&::before {
							display: none;
						}
					}
				}
			}
		}

		@media (max-width:($md3+px)) {
			&:first-child {
				display: none;
			}
		}
	}
}