.card-news {
	@media (any-hover:hover) {
		&:hover {
			.card-news__body {
				background-color: $white-100;
			}
		}
	}

	&__body {
		background-color: $gray-light-00;
		display: block;
		padding: 30px 20px;
		transition: background-color 0.3s ease 0s;

		@media (max-width:($md1+px)) {
			padding: 15px 10px;
		}
	}

	&__data {
		color: $yellow;
		font-weight: 600;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.022em;
		margin: 0px 0px 10px 0px;

		@media (max-width:($md1+px)) {
			font-size: 17px;
		}
	}

	&__text {
		line-height: 120%;
		color: $black;
		margin: 0px 0px 10px 0px;

		@media (max-width:($md1+px)) {
			font-size: 14px;
		}
	}

	&__text-long {
		font-size: 14px;
		line-height: 130%;
		color: $gray-01;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 7;
		max-height: 126px;
		height: 126px;
	}
}

.article-news {
	&__body {}

	&__data {
		color: $yellow;
		font-weight: 600;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.022em;
		margin: 0px 0px 10px 0px;

		@media (max-width:($md1+px)) {
			font-size: 17px;
		}
	}

	&__text {
		line-height: 120%;
		color: $black;
		margin: 0px 0px 5px 0px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		max-height: 58px;
		height: 58px;

		@media (max-width:($md1+px)) {
			font-size: 14px;
			max-height: 50px;
			height: 50px;
		}
	}

	&__text-long {
		font-size: 14px;
		line-height: 130%;
		color: $gray-01;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		max-height: 90px;
		height: 90px;
	}
}

.card {

	&__title {
		font-size: 28px;
		line-height: 110%;
		letter-spacing: -0.02em;
		margin: 0px 0px 15px 0px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		max-height: 93px;

		@media (max-width:($md4+px)) {
			margin: 0px 0px 5px 0px;
		}
	}

	&__img {
		padding: 0px 0px 568px 0px;
		margin: 0px 0px 10px 0px;

		@media (max-width:($md2+px)) {
			padding: 0px 0px calc((422 / 668) * 100%) 0px;
		}

		@media (max-width:($md3+px)) {
			padding: 0px 0px calc((320 / 508) * 100%) 0px;
		}

		@media (max-width:($md4+px)) {
			padding: 0px 0px calc((181 / 290) * 100%) 0px;
			margin: 0px 0px 5.5px 0px;
		}
	}

	&__line {
		text-align: right;

		@media (max-width:($md4+px)) {
			text-align: left;
		}
	}

	&__link {
		@media (max-width:($md4+px)) {
			width: auto;
		}

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
}

.card-02 {

	&__title {
		margin: 0px 0px 4px 0px;
		font-size: 22px;
		line-height: 110%;
		letter-spacing: -0.02em;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		max-height: 75px;

		@media (max-width:($md2+px)) {
			font-size: 16px;
			max-height: 55px;
		}

		@media (max-width:($md4+px)) {
			font-size: 14px;
			max-height: 47px;

		}
	}

	&__img {
		margin: 0px 0px 4px 0px;
		padding: 0px 0px calc((364 / 585) * 100%) 0px;
	}

	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 8;
		max-height: 164px;
		margin: 0px 0px 10px 0px;

		p {
			padding: 0;
		}

		@media (max-width:($md3+px)) {
			font-size: 14px;
			max-height: 154px;
		}
	}

	&__line {}

	&__link {
		@media (max-width:($md4+px)) {
			width: auto;
		}

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
}

.card-03 {

	&__title {
		margin: 0px 0px 3px 0px;
		font-size: 19px;
		line-height: 110%;
		letter-spacing: -0.02em;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		max-height: 63px;

		@media (max-width:($md2+px)) {
			font-size: 16px;
			max-height: 55px;
		}

		@media (max-width:($md4+px)) {
			font-size: 14px;
			max-height: 47px;
		}
	}

	&__img {
		margin: 0px 0px 4px 0px;
		padding: 0px 0px calc((239 / 380) * 100%) 0px;
	}

	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 8;
		max-height: 154px;
		margin: 0px 0px 10px 0px;
		font-size: 14px;

		p {
			padding: 0;
		}
	}

	&__line {}

	&__link {
		@media (max-width:($md4+px)) {
			width: auto;
		}

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
}

.card-04 {

	&__title {
		margin: 0px 0px 5px 0px;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.02em;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		max-height: 55px;

		@media (max-width:($md4+px)) {
			font-size: 14px;
			max-height: 47px;
		}
	}

	&__img {
		margin: 0px 0px 5px 0px;
		padding: 0px 0px calc((181 / 285) * 100%) 0px;
	}

	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 8;
		max-height: 154px;
		margin: 0px 0px 10px 0px;
		font-size: 14px;

		p {
			padding: 0;
		}
	}

	&__line {}

	&__link {
		@media (max-width:($md4+px)) {
			width: auto;
		}

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}
}