.list {

	&__item {
		display: flex;

	}

	&__text {}

	&__icon {
		width: 24px;
		height: 20px;
		background: $gray-light-01;
		border-radius: 17px;
		margin: 0px 2px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			font-size: 16px;
		}
	}
}

.list-num {

	&__item {
		display: flex;

	}

	&__num {
		margin: 0px 3.5px 0px 0px;
		color: $gray-01;
		line-height: 125%;
	}

	&__text {}
}